body {
  width: 100%;
  margin: 0;
  background: #f4f6fa;
  display: flex;
  height: 100vh;
  overflow: hidden;
  text-wrap: balance;
  padding-top: 20px;
  box-sizing: border-box;
  padding-left: 30px;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #fff;
  padding: 30px 20px;
  border-right: 0.5px solid #e5e5e5;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  gap: 10px;
  margin-bottom: 50px;
}

.boards-title {
  font-size: 11px;
  font-weight: 600;
  color: gray;
  margin-bottom: 30px;
}

.board-btn {
  background: #645fc6;
  color: #fff;
  padding: 12px 15px;
  border-radius: 26px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 1000px;
  font-size: 13px;
}

/* MAIN AREA */
.main {
  flex: 1;
  overflow-y: auto;
  padding: 25px;
  background-color: #f4f6fa;
}
.board-header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 0%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* COLUMNS */
.columns {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.column {
  width: 220px;
}

.column-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  font-weight: 700;
  color: gray;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.todo {
  background: #4da8f0;
}
.doing {
  background: #9b5de5;
}
.done {
  background: #45c590;
}

/* CARDS */
.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 600;
}

/* MOBILE RESPONSIVENESS */

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main-header {
    justify-content: center;
    padding: 15px;
  }

  .main-header h2 {
    font-size: 0;
    position: relative;
  }

  .main-header h2::before {
    content: "";
    display: inline-block;
    background-image: url("assets/logo-light.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 40px;
    vertical-align: middle;
  }

  .main-header h2::after {
    content: "▾";
    font-size: 16px;
    color: var(--medium-grey);
    margin-left: 6px;
  }

  .columns-container {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    overflow-x: hidden;
  }

  .column {
    width: 100%;
  }

  .task-card {
    font-size: 14px;
    padding: 18px 12px;
  }
}

@media screen and (max-width: 480px) {
  .main-header h2 {
    font-size: 0px;
  }

  .task-card {
    width: 90%;
  }

  .column-header h4 {
    font-size: 10px;
  }
}
